<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      
      
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
          
            {% form 'create_customer' %} {{ form.errors | email | password }}

                <label for="first_name">First Name</label>
                <input type="text" value="" name="customer[first_name]" size="30" />

                <label for="last_name">Last Name</label>
                <input type="text" value="" name="customer[last_name]" size="30" />

                <label for="email">Email Address</label>
                <input type="email" value="" name="customer[email]" size="30" />
          
          		<label for="tag">B2B</label>
          		<input type="hidden" value="" name="customer[tag]" />

                <label for="password">Password</label>
                <input type="password" value="" name="customer[password]" size="30" />

                <input type="submit" value="Create" />

            {% endform %} 
          
          	{% form 'customer_login' %}
          
          		{% if form.errors %}
         		 <div class="login_error">{{ form.errors | default_errors }}</div>
				{% endif %}
          		
          		<label for="email">Email Adress</label>
          		<input type="email" value="" name="customer[email]" size="30" />
          
          		<label for="password">Password</label>
          		<input type="password" value="" name="customer[password]" size="30" />
          
          		<input type="submit" value="Sign in" />
          
          	{% endform %}
          
          	{% form 'create_customer' %}
          
          		{% if form.posted_successfully? %}
        			<div class="succes_message">Comment posted successfully!</div>
                {% else %}
                    {{ form.errors | default_errors }}
                {% endif %}
          
         		<label for="email">Email Adress</label>
          		<input type="email" value="" name="customer[email]" size="30" />
          
        		<label for="tag">Prospect</label>
          		<input type="hidden" value="" name="customer[tag]" />
          
          		<input type="submit" value="Submit" />
                            
            {% endform %}
            
          
        </div>
      </div>
    </div>

  </div>
</div>
