<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="banner">
  <div data-banner {% if section.settings.show_arrows == true %} data-banner-arrow="true" {% endif %} {% if section.settings.show_dots == true %} data-banner-dots="true" {% endif %}
  class="banner {{ section.settings.arrows_place }}">
    {% for block in section.blocks %}
      <div class="relative">
        {% if block.settings.video_url == blank %}
          <img class="banner__image" src="{{ block.settings.banner | img_url : '1050x' }}" alt="{{ block.settings.banner.alt }}">
        {% else %}
          <div class="banner__video">
            <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720&autoplay=1" width="450" height="450" frameborder="0" allowfullscreen></iframe>
          </div>
        {% endif %}
        <div class="banner__content">
          {% unless block.settings.title == blank %}
            <{{ block.settings.title_hn }} class="banner__title">{{ block.settings.title }}</{{ block.settings.title_hn }}>
          {% endunless %}
          {% unless block.settings.paragraph == blank %}
            <p class="banner__paragraph">{{ block.settings.paragraph }}<p>
          {% endunless %}
          {% unless block.settings.cta == blank %}
            <a class="banner__cta" href="{{ block.settings.url }}">{{ block.settings.cta }}</a>
          {% endunless %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

-> proteger les entres
-> proposer au client un balisage dynamique (sur toutes les sections)

{% schema %}
 {
   "name": "banner box",
   "settings": [
     {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "click if you want to have arrows",
        "default": true
      },
      {
         "type": "checkbox",
         "id": "show_dots",
         "label": "click if you want to have dots",
         "default": true
       },
       {
         "type": "select",
         "id": "arrows_place",
         "options": [
            { "value": "arrows--top", "label": "arrows top"},
            { "value": "arrows--middle", "label": "arrows middle"},
            { "value": "arrows--bottom", "label": "arrows bottom"}
         ],
         "label": "Place of arrows",
         "default": "arrows--bottom"
      }
   ],
   "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "banner"
          },
          {
            "id": "video_url",
            "type": "video_url",
            "label": "If you want a photo, let this to be empty",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "placeholder": "url"
          },
          {
            "id": "title",
            "type": "text",
            "label": "title",
            "default": "Title"
          },
          {
            "type": "select",
            "id": "title_hn",
            "label": "title balisage",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "h1"
              },
              {
                "value": "h2",
                "label": "h2"
              },
              {
                "value": "h3",
                "label": "h3"
              },
              {
                "value": "h4",
                "label": "h4"
              },
              {
                "value": "h5",
                "label": "h5"
              },
              {
                "value": "h6",
                "label": "h6"
              }
            ]
          },
          {
            "id": "paragraph",
            "type": "richtext",
            "label": "Add custom text below",
            "default": "<p>Add your text here</p>"
          },
          {
            "id": "cta",
            "type": "text",
            "label": "Button text",
            "default": "Click Here"
          },
          {
            "type": "url",
            "id": "url",
            "label": "add your url"
          }
        ]
      }
   ],
   "presets": [
      {
        "category": "banner",
        "name": "banner"
      }
   ]
 }
{% endschema %}
