<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="left-right">
  <div class="left-right  {{ section.settings.container_size}}">
      <div class="z-grid z-grid--center z-grid--center2">
        {% if section.settings.collection_sort == true %}
          <div class="1/2 z-grid__cell z-grid__cell2">
            {% if section.settings.video_url == blank %}
              <img class="left-right__image left-right__image--left" src="{{ section.settings.image | img_url: '450x' }}" alt="{{ section.settings.image.alt | escape }}">
            {% else %}
            <div class="left-right__video">
              <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="450" height="450" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
            </div>
        {% endif %}
        <div class="left-right__contents 1/2 z-grid__cell">
          <div>
            {% unless section.settings.text-box == blank %}
            <{{ section.settings.title_hn }} class="left-right__title">{{ section.settings.text-box }}</{{ section.settings.title_hn }}>
            {% endunless %}
            {% unless section.settings.subtitle == blank %}
            <div><p class="left-right__subtitle">{{ section.settings.subtitle}}<p></div>
            {% endunless %}
            {% unless section.settings.cta == blank %}
            <a class="left-right__cta" href="{{ section.settings.url }}">{{ section.settings.cta}}</a>
            {% endunless %}
          </div>
        </div>
        {% if section.settings.collection_sort == false %}
          <div class="1/2 z-grid__cell">
            {% if section.settings.video_url == blank %}
            <img class="left-right__image left-right__image--right" src="{{ section.settings.image | img_url: '450x' }}" alt="{{ section.settings.image.alt | escape }}">
            {% else %}
            <div class="left-right__video">
              <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="450" height="450" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
  </div>
</section>



-> proteger toutes les sorties liquid
-> bien update le code en BEM avec les modifier ; ex : left-right__image--right

{% schema %}
  {
    "name": "right and left box",
    "settings": [

      {
        "type": "select",
        "id": "container_size",
        "options": [
        { "value" : "container--small", "label": "Small container"},
        { "value" : "container", "label": "Normal container"},
        { "value" : "container--full", "label": "Full container"}
        ],
        "label": "Container Size"
      },
      {
         "type": "checkbox",
         "id": "collection_sort",
         "default": true,
         "label": "click if you want image and texts change their place (desktop)"

      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "add your image"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "If you want a photo, let this to be empty",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "placeholder": "url"
      },
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "title_hn",
        "label": "title balisage",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          },
          {
            "value": "h5",
            "label": "h5"
          },
          {
            "value": "h6",
            "label": "h6"
          }
        ]
      },
      {
        "id": "subtitle",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
        "id": "cta",
        "type": "text",
        "label": "Button text",
        "default": "<p>Click Here</p>"
      },
      {
        "type": "url",
        "id": "url",
        "label": "add your url"
      }

    ],
    "presets": [
     {
       "category": "Image with text",
       "name": "right and left box"
     }
   ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
