<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="reassurance">
  <div class="reassurance">
    <h2 class="reassurance__title z-h1 align-center"> {{ section.settings.text-box }} </h2>
    <div class="reassurance__text align-center">
      {{ section.settings.text }}
    </div>
    <div class="z-grid z-grid--center">
        {% for block in section.blocks %}
         {% unless block.type == 'image' %}{% continue %}{% endunless %}
          <div class="z-grid__cell 1/{{ section.settings.Number_items_desktop }}--desk 1/{{ section.settings.Number_items_mobile }} grid__cell">
            <div class="align-center">
              <img class="reassurance__image" src="{{ block.settings.image | img_url : '250x' }}">
            </div>
            <h3 class="align-center z-h3">{{ block.settings.title }}</h3>
            <div class="align-center">{{ block.settings.subtitle}}</div>
          </div>
        {% endfor %}
      <div class="3/4 1/2--thumb grid__cell"></div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Text Box",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
          "type":      "range",
          "id":        "Number_items_desktop",
          "min":       3,
          "max":        5,
          "step":       1,
          "unit":       "pc",
          "label":     "number of items desktop",
          "default":   3
      },
      {
          "type":      "range",
          "id":        "Number_items_mobile",
          "min":       1,
          "max":        3,
          "step":       1,
          "unit":       "pc",
          "label":     "number of items mobile",
          "default":   1
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "subtitle"
          }
        ]
      }
    ],
    "presets": [
     {
       "category": "Reassurance",
       "name": "Reassurance"
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
